<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2019 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haizhi.mock.data.mapper.PrivateWarnSignalMapper">

    <sql id="table_name">per_warn_signal_his_info</sql>

    <insert id="batchInsert">
        insert into
        <include refid="table_name"/>
        values
        <foreach collection="list" item="warnsignal" separator=",">
            (null ,#{warnsignal.sigId},#{warnsignal.sigName},#{warnsignal.sigType}
            ,#{warnsignal.sigCat},#{warnsignal.sigGrd},#{warnsignal.sigCfmStu},#{warnsignal.sigCfmTime}
            ,#{warnsignal.sigDesc},#{warnsignal.sigHdlStu},#{warnsignal.sigHdlDate}
            ,#{warnsignal.sigSource},#{warnsignal.contractId},#{warnsignal.custId},#{warnsignal.ecifCustId}
            ,#{warnsignal.custName},#{warnsignal.modId},#{warnsignal.modName}
            ,#{warnsignal.tchTime},#{warnsignal.warnRst},#{warnsignal.ruleId},#{warnsignal.ruleDesc}
            ,#{warnsignal.custStu},#{warnsignal.custStuDate},#{warnsignal.etlDate},#{warnsignal.etlOper},#{warnsignal.sigOutDesc}
            ,#{warnsignal.etlDt},#{warnsignal.gmtCreate},#{warnsignal.gmtModified})
        </foreach>
    </insert>

    <update id="truncate">
        truncate table
        <include refid="table_name"/>
    </update>


</mapper>